@import "~@fluentui/react/dist/sass/References.scss";

.zaakSysteem {
  overflow: hidden;
  padding: 1em;
  color: "[theme:bodyText, default: #323130]";
  color: var(--bodyText);
  &.teams {
    font-family: $ms-font-family-fallbacks;
  }
}

.header {
  padding: 25px 20px 20px 25px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.header > div {
  display: inline-block;
}
.zaaknummer {
  font-size: 21px;
  top: -5px;
  position: relative;
  color: #444791;
  font-weight: 500;
  text-align: center;
  margin: 0;
  margin-top: -5px;
}

/* @media (prefers-color-scheme: dark) {
  .zaaknummer {
    color: #fff;
  }
  .logo {
    filter: invert(1);
  }
} */

.logo {
  width: 122px;
}
.zaakbutton {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0.2rem 0.4rem -0.075rem;
  float: right;
  margin-top: -12px;
  width: 150px;
  justify-self: end;
}

.kopieerbutton {
  margin-top: -2px;
  display: inline-block;
  width: 30px;
  height: 30px;
  box-sizing: border-box;
  border-radius: 2px;
  color: #fff;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #444791;
  background-size: 15px;
  background-image: url('data:image/svg+xml;utf8,<?xml version="1.0" encoding="UTF-8"?><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20"><title>download</title><path fill="white" d="M17 12v5H3v-5H1v5a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-5z"/><path fill="white" d="M10 15l5-6h-4V1H9v8H5l5 6z"/></svg>');
  border: none;
  content: " ";
}
.kopieerbutton:hover {
  cursor: pointer;
  background-color: #1d1f5f;
}

.links {
  a {
    text-decoration: none;
    color: "[theme:link, default:#03787c]";
    color: var(
      --link
    ); // note: CSS Custom Properties support is limited to modern browsers only

    &:hover {
      text-decoration: underline;
      color: "[theme:linkHovered, default: #014446]";
      color: var(
        --linkHovered
      ); // note: CSS Custom Properties support is limited to modern browsers only
    }
  }
}
