<div class="timeline-content"> 
    <div class="line-gradient"></div>
    <ol class="timeline-feed timeline-inner" data-zs-infinite-scroll>
        <li class="timeline-item <[(item.event_category == 'note' || item.event_category == 'contactmoment') && 'timeline-item-extended' || '']> <[(item.event_type == 'case/create' || item.event_type == 'case/close') && 'timeline-item-priority' || '']>" data-ng-repeat="item in $parent.items | orderBy:'timestamp':true | filter:$parent.getItemVisibility" data-ng-init="expanded=false">
            <i class="pointer"></i>
            <div class="timeline-item-inner <[item.id==-1&&'timeline-item-new'||'']>">
                <div class="timeline-item-title">
                    <div class="timeline-item-icon" data-event-type="<[item.event_category]>" data-mimetype="<[item.getMimetype()]>"></div>
                     <div class="timeline-item-date">
                        <[item.getTimestamp() | date:'dd MMM yyyy HH:mm' ]>
                    </div>
                    <div class="timeline-item-titel">
                        <span class="timeline-item-desc"><[item.description]> <span data-ng-show="item.case_id && item.event_type != 'case/create' && item.event_type != 'case/close'">
                            <span data-ng-hide="$parent.$parent.category=='case'">in zaak <[item.case_id]></span></span><br/>
                            <span class="timeline-item-desc-meta">
                                <span data-ng-show="item.created_by">Door <[item.created_by]></span>
                                <span data-ng-show="item.contact_channel"> &middot; via: <[item.contact_channel | capitalize]></span>
                            </span>
                        </span>
                    </div>
                </div>
                <div class="timeline-item-content" data-ng-show="item.content" data-ng-class="{'timeline-item-content-expanded': expanded}">
                    <pre><[expanded&&item.content||$parent.$parent.getTruncatedText(item)]></pre>
                </div>
                <button class="timeline-item-expand" data-ng-show="$parent.$parent.isTruncated(item)" data-ng-click="expanded=!expanded">
                    <[expanded&&'&#9652;'||'&middot;&middot;&middot;']>
                </button>
                <div class="timeline-item-important"></div>
            </div>
        </li>
        <li class="timeline-loader <[$parent.loading&&'timeline-loader-loading'||'']>" style="text-align:center">
            <img src="images/spinner-timeline.gif"/>
            <button class="knop timeline-manual-loader knop-bootstrap" data-ng-click="$parent.loadMoreData()">Meer</button>
        </li>
    </ol>
</div>
    
<div class="timeline-filter">
    <strong style="margin-bottom:4px;display:block;">Filter de timeline:</strong>
    <ul class="timeline-options">
        <li data-ng-repeat="filter in $parent.availableFilters">
            <label class="timeline-filter-label">
                <input class="timeline-filter-checkbox" type="checkbox" data-ng-checked="$parent.activeFilters.length>0&&isFiltered(filter.id)" data-ng-click="toggleFilter(filter)"/>
                <[filter.label|capitalize]>
        </label>
        </li>
    </ul>
</div>
