@import "./../../../../../../../../shared/styles/variables";

.widget-type-search {
	.zs-table-row{
		.table-cell{
			&[column-id="case.deadline_timeline"]{
				ul{
					margin: 0
				}
			}
		}
	}
}

.widget-type-search.compact {

	.zs-table {
		display: block;
		zs-table-header {
			display: none;
		}
		zs-table-body{
			display: block;
		}
	}
	.zs-table-row{
		display: flex;
		flex-grow:1;
		border-bottom:1px solid rgba(160, 160, 160, 0.2);
		.zs-table-cell{
			max-width: inherit;
		}
		.table-cell{
			display: flex;
			border:none;
			&[column-id="compact"]{
				flex-grow:1;
				padding:1rem 0 1rem .75rem;
				min-width: 0px;
			}
			&[column-id="intake_actions"]{
				padding:1em 0 1em .8em;
				zs-case-intake-action-list{
					.case-intake-action-take-on,
					.case-intake-action-reject
					{
						width:28px;
						height:24px;
						line-height: 23px;
					}
					.case-intake-action-take-on{
						margin-left:8px;
					}
				}
			}
			&[column-id="actions"]{
				width:50px;
				padding:1rem .75rem 1rem .5rem;
				flex-shrink:0;
			}
		}
		&:first-child{
			border-top:1px solid rgba(160, 160, 160, 0.2);
		}
	}
}


.object-search-result-compact {
	display: flex;
	flex-flow: row nowrap;
	> zs-icon {
		font-size: 1.6rem;
		display: inline-flex;
		color: $light-blue;
		width: 1.6rem;
		height: 1.6rem;
		align-items: center;
		justify-content: center;
		margin-left:3px;
	}
	> .object-meta {
		display: flex;
		flex: 1 1 auto;
		flex-flow: column nowrap;
		padding-left: 0.5rem;

		.object-uuid {
			color: $grey;
			display: none;
		}
	}
}
