<form ng-submit="$ctrl.handleSubmit()">
	<vorm-fieldset
		data-fields="$ctrl.getFields()"
		data-values="$ctrl.getValues()"
		on-change="$ctrl.handleChange($name, $value)"
		data-compiler="$ctrl.getCompiler()"
	>
	</vorm-fieldset>

	<div class="form-actions">
		<button
			class="btn btn-flat"
			ng-repeat="action in $ctrl.getActions()"
			type="{{::action.type||'button'}}"
			ng-click="$ctrl.handleClick(action)"
			ng-class="action.classes"
		>
			{{::action.label}}
		</button>
	</div>
</form>
