<div class="case-register-header">
  <div class="case-register-summary">
    <div class="case-register-summary-close-and-casetype">
      <button data-name="registration-cancel-button" aria-label="Sluiten" class="btn btn-flat btn-round" type="button"
        ng-click="$ctrl.cancel()">
        <zs-icon icon-type="close"></zs-icon>
      </button>
      <button class="case-register-casetype-title-button" type="button" aria-expanded="{{!$ctrl.isCollapsed()}}"
        ng-click="$ctrl.toggleCollapse()">
        <span class="case-register-casetype-title-button-inner">
          <h3 class="case-register-casetype-title">
            {{$ctrl.casetype.instance.title}}
          </h3>
          <zs-icon icon-type="{{$ctrl.isCollapsed() ? 'chevron-down' : 'chevron-up'}}"></zs-icon>
        </span>
      </button>
    </div>

    <label class="case-register-ignore-required-fields zs-switch" ng-if="$ctrl.canSkip()"
      ng-class="{ 'zs-switch-active': !!$ctrl.skipRequired }" name="skip-required" tabindex="0" role="checkbox"
      aria-checked="{{!!$ctrl.skipRequired}}">
      <input class="zs-switch-input" type="checkbox" ng-model="$ctrl.skipRequired" />
      Vul verplichte velden later in
      <span class="zs-switch-label"></span>
    </label>
  </div>

  <div class="case-register-detail" ng-if="!$ctrl.isCollapsed()">
    <ul class="case-register-detail-list" aria-live="polite">
      <li class="case-register-detail-list-item" ng-repeat="field in $ctrl.getDetailFields() track by field.name"
        ng-switch="field.type" data-name="{{::field.name}}">
        <div class="case-register-detail-list-item-label">{{field.label}}</div>
        <div class="case-register-detail-list-item-value" ng-switch-default>
          {{field.value}}
        </div>
        <button type="button" class="case-register-detail-list-item-value" ng-switch-when="button"
          ng-click="field.click()">
          {{field.value}}
        </button>
      </li>
    </ul>
  </div>

  <zs-case-reuse-values ng-if="$ctrl.casetype.instance.settings.allow_reuse_previous_registration"
    casetype-reference="$ctrl.casetype.reference" casetype-fields="$ctrl.getFields()"
    casetype-name="$ctrl.casetype.instance.title" user-id="$ctrl.requestor.instance.old_subject_identifier"
    on-retrieve-case="$ctrl.loadPreviousValues($caseValues)">
  </zs-case-reuse-values>
</div>

<div class="case-register-body" zs-scroll-fade
  ng-class="{'case-register-body-small': $ctrl.casetype.instance.settings.allow_reuse_previous_registration}">
  <div class="case-register-preview" ng-if="!!$ctrl.getDocumentUrl()">
    <iframe ng-if="$ctrl.isPdfSupported()" id="document-viewer" data-ng-src="{{$ctrl.getDocumentUrl()}}" width="100%"
      height="100%" allowfullscreen webkitallowfullscreen></iframe>
    <zs-pdf-viewer ng-if="!$ctrl.isPdfSupported()" url="{{$ctrl.getDocumentUrl()}}"></zs-pdf-viewer>
  </div>
  <div class="case-register-form" ng-class="{'case-register-form-collapsed': !!$ctrl.getDocumentUrl() }">
    <a name="case-register-top" aria-hidden="true"></a>

    <ul class="case-register-breadcrumb">
      <li class="case-register-breadcrumb-item" ng-class="step.classes"
        ng-repeat="step in $ctrl.getSteps() track by step.name" data-name="{{::step.name}}">
        <zs-icon icon-type="{{::step.icon}}"></zs-icon>
        <a ng-href="{{step.url}}">
          {{step.label}}
        </a>
      </li>
    </ul>

    <!-- we use novalidate due to bug in Firefox implementation of input type url validation -->
    <form name="case-register-group-form" novalidate step-name="{{$ctrl.getCurrentGroup().name}}">

      <fieldset ng-repeat="fieldset in $ctrl.getCurrentGroup().fieldsets track by fieldset.name">
        <div class="vorm-fieldset-label" ng-bind-html="fieldset.label" role="heading" aria-level="2"></div>
        <div class="vorm-fieldset-description" ng-bind-html="fieldset.description"></div>

        <vorm-fieldset data-fields="fieldset.fields" data-values="$ctrl.getValues()"
          data-valid="$ctrl.getDisplayedValidations()" on-change="$ctrl.handleChange($name, $value)"
          data-compiler="$ctrl.getCompiler()" disable-autofocus="$ctrl.getCurrentGroup().name==='bevestig'">
        </vorm-fieldset>
      </fieldset>

      <ul class="case-register-group-form-message-list" ng-if="$ctrl.getMessages().length">
        <li class="case-register-group-form-message" ng-repeat="message in $ctrl.getMessages() track by message.name">
          <zs-icon icon-type="{{::message.icon}}"></zs-icon>
          {{message.label}}
        </li>
      </ul>

      <div class="form-actions" ng-if="!$ctrl.getPauseApplicationData()">
        <button class="btn" ng-class="::button.classes" data-name="{{::button.name}}" type="{{::button.type}}"
          ng-click="$ctrl.handleButtonClick(button.name)" ng-disabled="button.disabled"
          ng-repeat="button in $ctrl.getButtons() track by button.name">
          {{button.label}}
        </button>
      </div>

      <zs-case-pause-application ng-if="!!$ctrl.getPauseApplicationData()"
        pause-application-data="$ctrl.getPauseApplicationData()"
        data-values="$ctrl.getAttrValues()"></zs-case-pause-application>

    </form>

  </div>
</div>