
[% IF c.req.params.betrokkene_type %]
    [% contact_betrokkene_type = c.req.params.betrokkene_type %]
    [% contact_betrokkene_id = c.req.params.betrokkene_id %]
    [% contact_betrokkene_naam = c.req.params.betrokkene_naam %]
[% ELSIF c.betrokkene_session %]
    [% contact_betrokkene_type = c.betrokkene_session.btype %]
    [% contact_betrokkene_id = c.betrokkene_session.betrokkene_identifier %]
    [% contact_betrokkene_naam = c.betrokkene_session.naam %]
[% END %]

[% IF contact_betrokkene_id %]
[% contact_betrokkene_type = contact_betrokkene_id.split('-').1 %]
[% END %]

[% UNLESS tr_classes %]
    [% tr_classes = [] %]
[% END %]

<tr id="[% ezra_id %]_type" class="[% tr_classes.join(' ') %]" style="[% my_display %]">
	<td>
		<span>[% type_label %]</span> <br/>
	</td>
	<td>
		<input
			type="hidden"
			name="value_medewerker_id"
			class="ezra_id_value_medewerker_id"
			value="[% 'betrokkene-medewerker-' _ c.user.uidnumber %]" />
		<input
			type="hidden"
			name="value_medewerker_naam"
			class="ezra_id_value_medewerker_naam"
			value="[% c.user.displayname %]" />

		<div class="ezra_betrokkene_type">
			<label>
				<input
				id="burger"
				type="radio"
				name="[% selector_input %]"
				value="natuurlijk_persoon"
				[% IF !contact_betrokkene_type %]
				checked="checked"
				[% ELSE %]
					[%
						contact_betrokkene_type == 'natuurlijk_persoon'
							? ' checked="checked"'
							: ''
					%]
				[% END %]
				/> 
				Persoon
			</label>
			<label>
				<input
					id="organisatie"
					type="radio"
                    name="[% selector_input %]"
					value="bedrijf"
					[%
						contact_betrokkene_type == 'bedrijf'
							? ' checked="checked"'
							: ''
					%]
				/> 
				Organisatie
			</label>
		</div>
	</td>

    [% UNLESS skip_validator %]
	<td>
	    [% PROCESS widgets/general/validator.tt %]
	    [% PROCESS widgets/general/tooltip.tt
	        message = 'Geef aan of de ' _ (tooltip_label || 'betrokkene') _ '
				een <strong>burger</strong>
				of een <strong>organisatie</strong> is
				(bedrijf of instelling).'
		%]
	</td>
    [% END %]
</tr>

[% PROCESS widgets/search_betrokkene.tt %]
