[% IF !ezra_id %]
    ERROR: need ezra_id
    [% RETURN %]
[% END %]
[% IF !input_name %]
    ERROR: need input_name
    [% RETURN %]
[% END %]

<tr id="[% ezra_id %]" style="[% my_display %]" class="[% tr_classes.join(' ') %]">
	<td class="td-label">
		<span>[% label %]</span>
	</td>
	<td>
		<div class="ezra_objectsearch_betrokkene zoek_veld">
	        <div class="search_wrap">
                <input type="text" name="betrokkene_naam" 
                    class="input_large searchbox ezra_betrokkene_autocomplete" value="[% contact_betrokkene_naam | html_entity %]"
                    placeholder="Typ hier uw zoekterm" rel="default_betrokkene_type:[% default_betrokkene_type %]" />
    			<span class="icon icon-cancel-search" style="display: none; "></span>
    		</div>
			<a href="#" title="Zoek een nieuwe aanvrager"
					class="ezra_betrokkene_selector button button-secondary button-small"
				rel="betrokkene_type: medewerker;
				selector_identifier: #[% ezra_id %] input[name='[% input_name %]'];
				selector_naam: #[% ezra_id %] input[name='betrokkene_naam'];
                allow_external_search: [% (allow_external_search ? '1' : '0') %];"
				>
    				<i class="icon-font-awesome icon-search"></i>
				</a>
			<span class="error validator"></span>
			<input
                type="hidden"
                name="[% input_name %]"
                class="aanvragers ezra_betrokkene_field_id"
                value="[% contact_betrokkene_id | html_entity %]"
            />
		</div>
	</td>

	[% UNLESS skip_validator %]
	<td>
		[% UNLESS skip_validator %]
		    [% PROCESS widgets/general/validator.tt %]
		    [% PROCESS widgets/general/tooltip.tt
		        message = 'Selecteer een ' _ (tooltip_label || 'betrokkene') _ '. 
					Vul delen van de naam of het adres, burgerservicenummer of KVK nummer in
					totdat de gezochte betrokkene verschijnt.'
			%]
		[% END %]
	</td>
	[% END %]

</tr>
