<div class="kenmerk-veld row">

	<div class="column large-4">
        <div class="field-label field-has-help">
            <div class="field-help">
                [% PROCESS widgets/general/dropdown.tt
                    icon = 'icon-question-sign',
                    icon_type = 'icon-font-awesome',
                    dropdown_content = 'Dit is de virtuele gebruiker waarnaar documenten gemaild
                    kunnen worden die niet direct aan een gebruiker
                    toegewezen moeten of kunnen worden. Dit mag niet
                    matchen met een echte user in LDAP!'
                %]
            </div>
		  <label>Document intake gebruiker</label>
        </div>
	</div>
	<div class="column large-8">
		<div class="field">
			<input type="text" name="[% parameter %]" value="[% value %]" />
		</div>
		
	</div>

</div>
