<div class="kenmerk-veld row">
	<div class="column large-4">
		<div class="field-label field-has-help">
			<div class="field-help">
				[% PROCESS widgets/general/dropdown.tt
					dropdown_content = 'Deze setting wijzigt het sjabloon dat gebruikt wordt om e-mail notificaties te versturen bij een betrokkene machtiging op een zaak',
				    icon = 'icon-question-sign',
				    icon_type = 'icon-font-awesome'
				%]
	        </div>
			<label>Betrokkene op zaak machtigen e-mail template</label>
		</div>
	</div>
	<div class="column large-8">
		<div class="field">
			<select name="[% parameter %]">
			    <option value=""[% IF !id %] selected="selected"[% END %]>Geen template (notificaties uit)</option>

			    [% FOREACH notificatie = notifications %]
				    <option value="[% notificatie.id %]"[% IF notificatie.id == value %] selected="selected"[% END %]>[% notificatie.label %]</option>
			    [% END %]
			</select>
		</div>
	</div>

</div>
