[% USE Dumper %]

[% IF
    veldoptie_type == 'bag_adres' ||
    veldoptie_type == 'bag_adressen' ||
    veldoptie_type == 'bag_straat_adres' ||
    veldoptie_type == 'bag_straat_adressen' ||
    veldoptie_type == 'bag_openbareruimte' ||
    veldoptie_type == 'bag_openbareruimtes'
%]
    [% IF !veldoptie_value %]-[% END %]
    [% FOREACH value IN veldoptie_value %]
        [%
            bag_value = value.split('-');
            bag_object = bag_model.get(bag_value.0, bag_value.1);

            IF bag_object; GET bag_object.to_attribute_value(bag_value.0).human_identifier; END;
            %]
        <!--([% value %])--><br />
    [% END %]
[% ELSIF veldoptie_type == 'address_v2' %]
  [% unwrapped_value = !veldoptie_value 
    ? '' 
    : veldoptie_value.0 
    ? veldoptie_value.0 
    : veldoptie_value %]
  [% !unwrapped_value 
    ? '-' 
    : unwrapped_value.full
    ? unwrapped_value.full
    : unwrapped_value.search('full":"')
    ? unwrapped_value.split('full":"').1.split('"}').0 
    : unwrapped_value %]
[% ELSIF veldoptie_type == 'image_from_url' %]
    [% UNLESS veldoptie_value.length %]
    <span>-</span>
    [% ELSE %]
    <img src="[% veldoptie_value | html %]" />
    [% END %]
[% ELSIF veldoptie_type == 'calendar' %]
    [% PROCESS widgets/general/veldoptie/qmatic.tt
        qmatic_can_edit = 0
     %]
[% ELSIF veldoptie_type == 'calendar_supersaas' %]
    [% PROCESS widgets/general/veldoptie/supersaas.tt
        supersaas_can_edit = 0
     %]
[% ELSIF veldoptie_type == 'appointment' %]
    [% PROCESS widgets/general/veldoptie/appointment.tt
        appointment_can_edit = 0
     %]
[% ELSIF veldoptie_type == 'appointment_v2' %]
    [% IF veldoptie_value %]
        [% PROCESS widgets/general/veldoptie/appointment_v2.tt
            appointment_can_edit = 0
            form_in_view_mode = 1
        %]
    [% ELSE %]
    -
    [% END %]
[% ELSIF veldoptie_type == 'file' %]
    [% PROCESS widgets/general/veldoptie/file_view.tt 
        uploaded_files = veldoptie_value
        view_mode = 1
    %]
[% ELSE %]
    [% IF veldoptie_value.0.defined %]
        <ul class="fieldvalue">
        [% FOREACH veldvalue IN veldoptie_value %]
            [% IF veldoptie_type.match('^valuta') %]
                [%
                    USE ValutaFormattingFilter;

                    veldvalue = veldvalue.0 || veldvalue;
                    IF veldoptie_value;
                      veldoptie_value = veldoptie_value | $ValutaFormattingFilter;
                      veldoptie_value = veldoptie_value | format('%01.2f');
                    END;
                %]
            [% END %]

            [% UNLESS veldvalue.length %]
                [% veldvalue = '-' %]
            [% END %]

            <li>[% veldvalue %]</li>
        [% END %]
        </ul>
    [% ELSIF veldoptie_type == 'url' %]
        <span>[% veldoptie_value.list.0 %]</span>
        [% IF veldoptie_value.list.0 %]
            <button class="ezra_url_field_goto button button-secondary button-small" rel="[% veldoptie_value %]" title="Ga naar de url">
                <i class="icon-font-awesome icon icon-external-link"></i>
            </button>
        [% ELSE %]-
        [% END %]
    [% ELSIF veldoptie_type == 'richtext' %]
        <div class="rijke-tekst">
            [% PROCESS widgets/general/longtext.tt my_text = veldoptie_value %]
        </div>
    [% ELSIF veldoptie_type == 'objecttype' %]
        [% PROCESS widgets/general/veldoptie/objecttype.tt
            view_mode = 1
        %]
    [% ELSIF veldoptie_type == 'googlemaps' || veldoptie_type == 'geolatlon' %]
        [% PROCESS widgets/general/map.tt
            MAP_INPUT       = veldoptie_name
            MAP_TEMPLATE    = 'address'
            MAP_CSSPROFILE  = 'smallfixed'
            MAP_FIXEDWIDTH  = 1
            MAP_LOCATION    = veldoptie_value.0 || veldoptie_value
            MAP_CENTER      = c.get_customer_info.latitude _ ' ' _ c.get_customer_info.longitude
            MAP_FORM        = 1
            MAP_READONLY    = 1
            MAP_HIDECOORDS  = 1
            MAP_LATLONONLY  = (veldoptie_type == 'geolatlon' ? 1 : 0)
            MAP_WMS_LAYER_ID= veldoptie_properties.map_wms_layer_id
            MAP_WMS_FEATURE_ATTRIBUTE_ID = veldoptie_properties.map_wms_feature_attribute_id
            MAP_WMS_FEATURE_ATTRIBUTE_LABEL = veldoptie_properties.map_wms_feature_attribute_label
            my_veldoptie_id = my_veldoptie_id
        %]
    [% ELSE %]
        [% IF veldoptie_type.match('^valuta') %]
            [%
                USE ValutaFormattingFilter;

                veldoptie_value = veldoptie_value.0 || veldoptie_value;
                IF veldoptie_value;
                  veldoptie_value = veldoptie_value | $ValutaFormattingFilter;
                  veldoptie_value = veldoptie_value | format('%01.2f');
                  veldoptie_value = veldoptie_value | replace('\.', ',');
                END;
            %]
        [% END %]

        [% PROCESS widgets/general/longtext.tt my_text = veldoptie_value %]
    [% END %]
[% END %]

