[% RETURN IF c.user_exists -%]
        </div>
    </div>

[% INCLUDE layouts/default_helper_diffs.tt %]
[% IF !c.user_exists && !pip %]
</div>
[% END %]
<div class="footer-btt">
    <div class="d-block" style="height:140px;background-color:#6f734f;">
        <div class="col-auto d-block align-self-center mx-auto" style="padding:45px;"><img class="d-block align-items-center mx-auto" src="../../form/imk/img/imk-logo-wit-250x45.png" style="width:250px;height:45px;"></div>
        <div class="col-auto col-xl-12 offset-xl-0 d-block align-self-center mx-auto" style="padding:45px;background-color:#5f643b;">
        		<div class="wpb_wrapper">
                <div class="instituut">
			<p>Instituut voor het Midden- en Kleinbedrijf</p>
            </div>
			<p>Zeisterweg 82 &nbsp;&#9656; &nbsp;3931MG &nbsp;&#9656; &nbsp;Woudenberg &nbsp;&#9656; &nbsp;088 999 00 00 &nbsp;&#9656; &nbsp;info@imk.nl &nbsp;&#9656; &nbsp;www.imk.nl</p>
<p>&#9400;  Instituut voor het Midden- en Kleinbedrijf &nbsp;&#9656; &nbsp;Alle rechten voorbehouden</p>

		</div>
        </div>
    </div>
      </div>

</html>
