<fieldset>

  <div class="vorm-fieldset-label">{{vm.label}}</div>
  <div class="vorm-fieldset-description" ng-bind-html="vm.getDescription()"></div>

  <ul class="vorm-field-list" role="presentation">

    <li class="vorm-field-item" ng-repeat="field in vm.getFields() track by field.name" ng-class="field.classes"
      data-name="{{::field.name}}" ng-hide="{{::field.hideField}}" aria-hidden="{{::field.hideField}}"
      role="presentation">
      <a name="{{::field.name}}" aria-hidden="true"></a>

      <vorm-field data-label="{{vm.invoke(field.label)}}" data-description="{{vm.invoke(field.description)}}"
        data-add-label="{{vm.invoke(field.addLabel)}}" data-value="vm.values()[field.name]"
        data-template="field.template" template-data="field.data" on-change="vm.handleChange(field.name, $value)"
        data-disabled="vm.invoke(field.disabled)" data-required="vm.invoke(field.required)"
        data-limit="vm.invoke(field.limit)" model-options="field.modelOptions||vm.getModelOptions()"
        data-valid="vm.valid()[field.name]" data-locals="vm.getLocals()" data-compiler="vm.compiler()"
        data-autofocus="!vm.disableAutofocus()&&$index===0" data-parsers="field.control.parsers"
        hide-label="field.hideLabel" data-type="{{vm.invoke(field.type)}}" data-multiple="{{vm.invoke(field.limit)}}">
      </vorm-field>

    </li>
  </ul>

</fieldset>