[% USE Dumper %]

[% UNLESS c.user_exists %]
<div class="stap-tekst stap-tekst-no-border">
    <h2 class="stap-titel">Controleer uw invoer en overige acties</h2>
</div>
[% END %]

    [% FOREACH group IN kenmerken_groups_keep_sort %]
    [% NEXT UNLESS kenmerken_groups.defined(group) %]
    <div class="stap-content stap-content-multiple">
        <div class="stap-tekst">
            <h3>[% group %]</h3>
        </div>
        
        [% PROCESS form/fields.tt
            groupname = group
            view_only = 1
        %]
    </div>
    [% END %]

[% IF c.user_exists %]
    [% PROCESS form/contact.tt %]
[% END %]

[% IF c.user_exists %]
    [% PROCESS form/behandel_acties.tt %]
[% END %]