@import "../dependencies";
// Search cases

.search-cases {
    position: relative;
    display: inline-block;

    input {
        border: 1px solid transparent;
        background-color: #f1f1f1;
        padding: 10px;
        font-size: 16px;
    }
    input[type=text] {
        background-color: #f1f1f1;
        width: 100%;
    }
    .autocomplete-items {
        position: absolute;
        border: 1px solid #d4d4d4;
        border-bottom: none;
        border-top: none;
        z-index: 99;
        top: 100%;
        left: 0;
        right: 0;
    }
    .autocomplete-items a {
        display: block;
        padding: 10px;
        cursor: pointer;
        background-color: #fff;
        border-bottom: 1px solid #d4d4d4;
        text-decoration: none;
        color: #000;
    }
    .autocomplete-items a:hover {
        background-color: #e9e9e9;
    }
    .autocomplete-active {
        background-color: $button-primary-bg-color !important;
        color: $button-primary-text-color;
    }
}
