<ul class="snack-list" ng-mouseenter="zsSnackbar.expand()" ng-mouseleave="zsSnackbar.contract()"
  ng-class="{ 'snack-list-expanded': zsSnackbar.isExpanded() }">

  <li ng-repeat="snack in zsSnackbar.getSnacks() track by snack.$id" class="snack snack-type-{{snack.type}}"
    ng-style="zsSnackbar.getSnackStyle(snack, $index)"
    ng-class="{ count: snack.queue().total > 1, collapsed: snack.collapsed() && !zsSnackbar.isExpanded() }"
    aria-live="{{snack.type === 'error' ? 'assertive' : 'polite'}}"
    role="{{snack.actions.length > 0 ? 'alertdialog' : 'alert' }}" aria-label="{{snack.message}}">
    <div class="snack-pending" aria-busy="{{snack.type==='wait'}}">
      <zs-spinner is-loading="snack.type==='wait'"
        ng-class="{ 'spinner-small': snack.queue().total <= 1, 'spinner-large': snack.queue().total > 1 }"></zs-spinner>
      <div class="snack-count">
        {{snack.queue().fulfilled}}/{{snack.queue().total}}
      </div>
    </div>
    <div class="snack-message">
      <div class="snack-message-content" id="{{snack.$id}}-message" ng-bind-html="snack.message">

      </div>
      <ul class="snack-actions">
        <li ng-repeat="action in snack.actions track by action.id" class="snack-action" ng-switch="action.type">
          <button ng-click="zsSnackbar.handleActionClick(snack, action)" ng-switch-default class="btn btn-flat"
            aria-label="{{action.label}}">
            {{action.label}}
          </button>
          <a ng-href="{{action.link}}" ng-switch-when="link" class="btn btn-flat" target="{{action.target}}"
            rel="{{action.rel}}" ng-click="zsSnackbar.handleActionClick(snack, action)" aria-label="{{action.label}}">
            {{action.label}}
          </a>
        </li>
      </ul>
    </div>

    <div class="snack-close">
      <button ng-click="zsSnackbar.handleCloseClick(snack, $event)" aria-label="Melding sluiten"
        aria-describedby="{{snack.$id}}-message">
        <i class="mdi mdi-close"></i>
      </button>
    </div>

  </li>

</ul>