[% RETURN IF c.user_exists -%]
[% nowrapper=1 -%]

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google" content="notranslate">
    <meta name="description" content="Bij Gemeente De Bilt regelt u allerlei burgerzaken. Daarnaast vindt u informatie over o.a. uw afval, paspoort, rijbewijs en de openingstijden van het zwembad.">
    <meta name="keywords" content="gemeente de bilt, de bilt, gemeente, bilt, paspoort, identiteitskaart, zwembad, afval, melding openbare ruimte,">
    <meta name="robots" content="index,follow">


    <title>[% IF page_title %][% page_title | html_entity %] - [% END %][% c.get_customer_info.naam_lang %]</title>

    <link rel="manifest" href="../../form/debilt/favico/manifest.json">
    <meta name="msapplication-config" content="../../form/debilt/favico/browserconfig.xml">

    <link rel="icon" sizes="192x192" href="../../form/debilt/favico/android-chrome-192x192.png">
    <!-- Apple Touch Icons -->
    <link rel="apple-touch-icon" href="../../form/debilt/favico/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="57x57" href="../../form/debilt/favico/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../../form/debilt/favico/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../../form/debilt/favico/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../../form/debilt/favico/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="60x60" href="../../form/debilt/favico/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../../form/debilt/favico/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="76x76" href="../../form/debilt/favico/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../../form/debilt/favico/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../../form/debilt/favico/apple-touch-icon-180x180.png">            

    [% PROCESS form/common_form_header_includes.tt %]

    <link rel="stylesheet" href="[% c.uri_for('/tpl/zaak_v1/nl_NL') %]/form/[% c.config.gemeente_id %]/css/critical.min.css"/>
    <link rel="stylesheet" href="[% c.uri_for('/tpl/zaak_v1/nl_NL') %]/form/[% c.config.gemeente_id %]/css/theme.min.css"/>

    <script type="text/javascript" src="[% c.uri_for('/tpl/zaak_v1/nl_NL') %]/form/[% c.config.gemeente_id %]/svgfixer.js"></script>

    <link media="screen" href="/css/templates/[% c.config.gemeente_id %].css" type="text/css" rel="stylesheet" />
    
    [% PROCESS layouts/common_header_includes_js.tt %]

</head>
<body data-ng-app="Zaaksysteem">

    <svg class="hide" xmlns="http://www.w3.org/2000/svg">

        <symbol id="shape--facebook">
            <title>facebook</title><circle r="21.917" cy="22.38" cx="22.386"></circle><path d="M30.143 28.377l.584-4.79-5.197-.002.012-4.22c0-1.347.033-1.77 1.648-1.77h3.242v-4.792h-4.914c-3.69 0-5.965 2.953-5.965 5.788v4.995H14.72v4.79h4.833V43.16c-.19.148.84.253 1.898.26 1 .003 1.974-.08 4.146-.204v-14.84h4.547z" fill="#fff"></path>
        </symbol>

        <symbol id="shape--twitter">
            <title>twitter</title><circle class="circle" r="21.917" cy="22.38" cx="22.386"></circle><path d="M36.14 16c-.92.4-1.904.67-2.936.79 1.056-.628 1.87-1.624 2.257-2.813-.988.577-2.083 1-3.247 1.22-.926-.993-2.248-1.62-3.72-1.63-2.814-.013-5.112 2.26-5.126 5.077 0 .4.04.79.128 1.165-4.242-.235-7.993-2.288-10.493-5.387-.44.753-.7 1.63-.7 2.563-.01 1.77.882 3.335 2.243 4.26-.833-.03-1.62-.265-2.306-.652v.063c-.016 2.473 1.734 4.545 4.066 5.026-.43.114-.88.172-1.348.172-.326-.002-.647-.035-.96-.098.64 2.03 2.518 3.518 4.753 3.57-1.755 1.358-3.96 2.162-6.35 2.15-.412-.002-.818-.026-1.218-.076 2.252 1.46 4.93 2.317 7.812 2.332 9.39.05 14.56-7.702 14.594-14.445.002-.22-.005-.44-.012-.66C34.58 17.915 35.45 17.02 36.14 16z" fill="#fff"></path>
        </symbol>

        <symbol id="shape--house">
            <title>house</title><g><ellipse ry="23.899" rx="24.015" cy="26.396" cx="26.621" stroke-miterlimit="10" stroke-width="4.971" stroke="#fff" fill="none"></ellipse><path d="M36.838 21.546c.252.178.257.577.257.886v14.164c0 .31.15.318-.16.318h-22.2c-.31 0-.64-.01-.64-.318V22.432c0-.31.248-.706.502-.88l10.905-7.495c.255-.175.58-.173.83.005l10.506 7.484z"></path><path d="M36.838 21.546c.252.178.257.577.257.886v14.164c0 .31.15.318-.16.318h-22.2c-.31 0-.64-.01-.64-.318V22.432c0-.31.248-.706.502-.88l10.905-7.495c.255-.175.58-.173.83.005l10.506 7.484z" stroke-miterlimit="10" stroke-width="4" stroke="#fff" fill="none"></path><path d="M10.15 24.036l15.29-10.928c.327-.234.864-.235 1.192-.002L42.01 24.008" stroke-miterlimit="10" stroke-linecap="round" stroke-width="3.609" stroke="#fff" fill="none"></path><path d="M30.095 36.19c0 .4-.325.725-.726.725h-6.55c-.4 0-.726-.325-.726-.726V25.64c0-.4.325-.726.726-.726h6.55c.4 0 .725.325.725.726v10.55z" fill="#fff"></path></g>
        </symbol>

        <symbol id="shape--smartphone">
            <title>smartphone</title><g xmlns="http://www.w3.org/2000/svg"><path fill="#008046" d="M35.26 12.12c.405-.002.738.328.74.733l.128 27.56c.002.406-.328.74-.733.74l-15.884.075c-.404.002-.737-.328-.74-.733l-.127-27.56c-.002-.405.328-.738.733-.74l15.884-.075z"></path><path fill="none" stroke="#fff" stroke-width="3.609" stroke-miterlimit="10" d="M35.26 12.12c.405-.002.738.328.74.733l.128 27.56c.002.406-.328.74-.733.74l-15.884.075c-.404.002-.737-.328-.74-.733l-.127-27.56c-.002-.405.328-.738.733-.74l15.884-.075z"></path><path fill="#fff" d="M19.31 36.266l16.248-.074.027 5.88-16.25.073z"></path><ellipse transform="matrix(1 -.005 .005 1 -.21 .547)" fill="#008B5C" cx="27.393" cy="38.758" rx="1.359" ry="1.354"></ellipse><ellipse fill="none" stroke="#fff" stroke-width="4.971" stroke-miterlimit="10" cx="27.164" cy="26.396" rx="24.015" ry="23.899"></ellipse></g>
        </symbol>

        <symbol id="shape--envelope">
            <title>envelope</title><g><ellipse ry="23.899" rx="24.016" cy="26.613" cx="26.839" stroke-miterlimit="10" stroke-width="4.971" stroke="#fff" fill="none"></ellipse><path d="M39.913 35.552c0 .32-.26.58-.58.58h-24.84c-.32 0-.58-.26-.58-.58v-16.84c0-.32.258-.58.58-.58h24.84c.32 0 .58.258.58.58v16.84z"></path><path d="M40.413 36.052c0 .32-.26.58-.58.58h-24.84c-.32 0-.58-.26-.58-.58v-16.84c0-.32.258-.58.58-.58h24.84c.32 0 .58.258.58.58v16.84z" stroke-miterlimit="10" stroke-width="3" stroke="#fff" fill="none"></path><path d="M39.443 18.743l-11.87 8.62c-.26.188-.683.19-.942.006l-12.165-8.627" stroke-miterlimit="10" stroke-width="3.368" stroke="#fff" fill="none"></path></g>
        </symbol>

        <symbol id="shape--search">
            <title>search</title><g><path d="M12.538 16.416l1.89 1.89L3.53 29.198l-1.888-1.89z"></path><path d="M8.412 19.25l3.248 3.244-8.282 8.29L.13 27.537z"></path><circle r="9.456" cy="11.481" cx="19.436" stroke-miterlimit="10" stroke-width="3.385" fill="none"></circle></g>
        </symbol>

        <symbol id="shape--arrow-white">
            <title>arrow-white</title><path stroke-miterlimit="10" stroke="#fff" fill="none" d="M.71.368l9.955 9.954L.368 20.62"></path>
        </symbol>

        <symbol id="shape--exclamation-circle">
            <title>exclamation-circle</title><circle class="exclemation-circle" r="26.827" cy="26.827" cx="26.827"></circle><g class="exclemation-mark" fill="currentColor"><path d="M22.25 10.39h9v24h-9z"></path><circle r="3.935" cy="42.568" cx="27.221"></circle></g>
        </symbol>

        <symbol id="shape--check-round">
            <title>check-round</title><g><circle r="13.693" cy="14.025" cx="14.025" fill="#F9A800"></circle><path fill="#fff" d="M14.757 20.3l-1.754 2.925-7.663-7.688 2.328-2.327z"></path><path fill="#fff" d="M19.43 6.104l2.825 1.69-8.81 14.744-2.826-1.688z"></path></g>
        </symbol>

        <symbol id="shape--arrow-grey">
            <title>Layer 1</title><path stroke-miterlimit="10" stroke="#999" fill="none" d="M.867.41l10.35 9.954L.51 20.66"></path></symbol><symbol id="shape--file"><title>file</title><g><path fill="#F8B100" d="M30 40.003H0v-40h16.018L30 15.026z"></path><path fill="#FBC85F" d="M29.952 15.003H16V0z"></path></g>
        </symbol>

        <symbol id="shape--boek">
            <title>boek</title><g><path d="M79.18 84.13V15.337c.002-1.574-1.287-2.86-2.86-2.86H26.554c-1.574 0-3.83.22-5.01 1.257l-.634.56c-1.182 1.042-1.092 2.76-1.092 4.332V88.65c0 1.574 1.29 2.863 2.86 2.863l48.085.02c1.577 0 2.862-1.288 2.862-2.862V20.83c0-1.574-1.285-2.86-2.862-2.86l-48.084-.022c-.022 0-.04.006-.06.007l2.02-2.47h48.918l2.71 2.558v68.952h.045c1.578-.002 2.866-1.287 2.866-2.86" fill="#fff"></path><path d="M55.582 42.81h5.12c-1.995-2.63-5.01-4.755-8.533-5.55 1.362 1.58 2.55 3.49 3.412 5.55m1.78 8.305h6.38c-.13-2.414-.827-4.676-1.957-6.66l-5.586.007c.678 2.073 1.085 4.31 1.16 6.653m-1.165 8.29l5.588.01c1.132-1.98 1.83-4.243 1.96-6.657H57.36c-.075 2.342-.482 4.58-1.165 6.648m-.613 1.656c-.863 2.06-2.05 3.97-3.413 5.55 3.522-.796 6.537-2.92 8.532-5.55h-5.12zm-1.777 0H49.49v5.942c1.76-1.568 3.24-3.6 4.315-5.942m1.924-8.304h-6.24v6.658h4.978c.742-2.077 1.177-4.312 1.26-6.658m-1.26-8.3h-4.98v6.657h6.24c-.083-2.345-.518-4.58-1.26-6.657m-.663-1.648c-1.073-2.342-2.555-4.372-4.316-5.942v5.942h4.315zm-10.26 0h4.312v-5.942c-1.756 1.57-3.24 3.6-4.313 5.942m-1.925 8.305h6.237v-6.658H42.88c-.74 2.08-1.177 4.313-1.26 6.658m1.26 8.3h4.98v-6.657h-6.24c.083 2.346.52 4.58 1.26 6.656m.664 1.648c1.072 2.342 2.557 4.373 4.313 5.942v-5.942h-4.313zm-1.775 0h-5.123c1.996 2.63 5.01 4.754 8.534 5.55-1.365-1.583-2.55-3.49-3.41-5.55m-1.782-8.304h-6.382c.13 2.412.826 4.678 1.958 6.658l5.587-.01c-.68-2.067-1.085-4.306-1.162-6.648m1.163-8.295l-5.586-.006c-1.132 1.982-1.828 4.245-1.958 6.66h6.382c.077-2.344.483-4.582 1.163-6.654m-4.504-1.653h5.122c.862-2.06 2.047-3.97 3.412-5.55-3.523.795-6.537 2.918-8.534 5.55m-4.69 9.128c0-9.234 7.484-16.72 16.72-16.72 9.233 0 16.717 7.486 16.717 16.72 0 9.232-7.483 16.72-16.717 16.72-9.237-.002-16.72-7.488-16.72-16.72" fill="#F7B100"></path></g>
        </symbol>

        <symbol id="shape--exclamation-buble">
            <title>Layer 1</title><g><circle r="29.01" cy="46.51" cx="54.45" fill="#fff"></circle><path fill="#fff" d="M48.324 67.314L20.22 81.046l13.95-30.04z"></path><path fill="#F7B100" d="M49.95 29.5h9v24h-9z"></path><circle r="3.936" cy="61.91" cx="54.967" fill="#F7B100"></circle></g>
        </symbol>

        <symbol id="shape--vuilnisbak">
            <title>Layer 1</title><g><path fill="#fff" d="M27.33 15.255h44.895v4.21H27.33z"></path><g><path d="M25.572 79.54c0-4.778 3.885-8.664 8.667-8.664 4.773 0 8.66 3.886 8.66 8.664 0 4.776-3.886 8.665-8.66 8.665-4.782 0-8.668-3.89-8.668-8.665z" stroke-miterlimit="10" stroke-width="4.204" stroke="#fff" fill="none"></path></g><circle r="2.101" cy="79.659" cx="34.1" fill="#fff"></circle><path d="M72.023 22.204h-38.44s.096 23.702.098 43.21h1.64c6.456 0 12.708 5.967 12.708 12.427 0 .242-.008 6.96-.022 10.438h14.06c1.562-6.26 3.562-11.612 5.52-20.277 2.883-10.277 5.23-31.24 4.437-45.796z" fill="#fff"></path></g>
        </symbol>

        <symbol id="shape--euro">
            <title>euro</title><g><circle r="25.758" cy="50.177" cx="51.116" fill="#fff"></circle><circle r="31.677" cy="50.177" cx="51.116" stroke-miterlimit="10" stroke-width="4.439" stroke="#fff" fill="none"></circle><path d="M58.545 60.437c-.524.28-1.274.55-2.25.812-.98.26-2.024.4-3.138.42-1.194.005-2.316-.183-3.368-.567-1.053-.387-1.962-1.002-2.73-1.85-.71-.796-1.23-1.9-1.56-3.312h11.862v-3.25H44.838v-.825c-.008-.56.008-1.09.048-1.596h12.477v-3.25h-11.77c.316-1.286.82-2.33 1.514-3.132.74-.89 1.608-1.542 2.6-1.97.99-.424 2.047-.634 3.166-.63 1.053.014 2.043.14 2.966.38.923.234 1.697.495 2.327.774l1.323-5.364c-.863-.383-1.903-.712-3.118-.98-1.22-.27-2.542-.41-3.97-.422-2.257.012-4.3.436-6.137 1.27-1.836.835-3.407 2.016-4.712 3.55-1.524 1.727-2.587 3.903-3.188 6.524H35.21v3.246h2.646l-.045 1.545v.878h-2.6v3.25h3.062c.446 2.504 1.31 4.55 2.59 6.14 1.316 1.694 2.963 2.98 4.94 3.866 1.973.885 4.143 1.328 6.505 1.334 1.528-.02 2.936-.198 4.215-.54 1.283-.343 2.335-.742 3.156-1.193l-1.133-5.108z" fill="#F7B100"></path></g>
        </symbol>

        <symbol id="shape--zwemmen">
            <title>zwemmen</title><g fill="#fff"><path d="M83.812 74.348c-1.46 0-2.854-.33-4.104-.906-1.275-.586-2.72-.94-4.232-.94-1.516 0-2.96.356-4.237.94-1.25.576-2.645.906-4.106.906-1.46 0-2.858-.33-4.104-.906-1.3-.586-2.744-.94-4.238-.94-1.51 0-2.958.356-4.24.94-1.243.576-2.658.906-4.104.906-1.462 0-2.856-.33-4.117-.906-1.28-.586-2.723-.94-4.22-.94-1.512 0-2.958.356-4.24.94-1.244.576-2.658.906-4.12.906-1.44 0-2.856-.33-4.102-.906-1.28-.586-2.728-.94-4.238-.94-1.5 0-2.94.356-4.224.94-1.265.576-2.656.906-4.12.906v-6.23c1.463 0 2.855-.337 4.12-.892 1.283-.604 2.724-.957 4.224-.957 1.512 0 2.958.353 4.238.956 1.244.555 2.658.893 4.1.893 1.463 0 2.878-.34 4.123-.894 1.28-.604 2.73-.957 4.24-.957 1.497 0 2.938.353 4.22.956 1.264.555 2.656.893 4.118.893 1.445 0 2.86-.34 4.104-.894 1.282-.604 2.73-.957 4.24-.957 1.494 0 2.938.353 4.238.956 1.245.555 2.644.893 4.104.893 1.462 0 2.855-.34 4.105-.894 1.275-.604 2.722-.957 4.236-.957 1.513 0 2.957.353 4.232.956 1.25.555 2.645.893 4.104.893v6.228z"></path><path d="M74.147 56.727c4.38 0 7.938-3.61 7.938-8.045 0-4.437-3.56-8.033-7.938-8.033-4.394 0-7.946 3.595-7.946 8.032 0 4.43 3.24 8.045 7.947 8.045z"></path><path d="M27.896 61.248c.616.148 1.196.365 1.75.617 1.243.57 2.66.908 4.102.908 1.46 0 2.876-.338 4.12-.908 1.28-.586 2.73-.96 4.24-.96 1.5 0 2.938.374 4.22.96 1.262.57 2.654.908 4.117.908 1.445 0 2.86-.338 4.104-.908 1.28-.586 2.728-.96 4.238-.96 1.494 0 2.94.374 4.24.96 1.243.57 2.642.908 4.103.908 1.064 0 2.09-.183 3.058-.487l-13.246-24.17 15.406-2.843c2.26-.437 3.902-2.232 3.902-4.534 0-2.538-2.04-4.57-4.535-4.57-.182 0-.348 0-.518.015L47.4 30.567c-1.67.386-3.883 2.86-2.622 5.896.068.168.133.323.203.49l6.21 11.34-23.294 12.955z"></path></g>
        </symbol>

        <symbol id="shape--plus">
            <title>plus</title><g><circle fill="#008046" cx="12.4" cy="12.41" r="12"></circle><path d="M11.63 7.74h2v10h-2z"></path><path fill="#fff" d="M7.63 11.74h10v2h-10z"></path></g>
        </symbol>

    </svg>

<header class="site-header">

    <div class="wrapper">
        <a class="site-logo" href="https://debilt.nl">
            <img src="[% c.uri_for('/tpl/zaak_v1/nl_NL') %]/form/[% c.config.gemeente_id %]/img/logo.gif" alt="Logo Gemeente De Bilt" width="189" height="99"/>
        </a>

        <!-- <form role="search" id="tx-solr-search-form-pi-search" class="[ form form--search-header ] hidden-print pull-right" action="/" method="get"
              accept-charset="utf-8">
            <div class="input-group">
                <input type="hidden" name="id" value="34">
                <input type="hidden" name="L" value="0">
                <input type="search" class="[ form__input  ] form-control tx-solr-q ui-autocomplete-input" name="q" id="q" autocomplete="off" spellcheck="false">
                <label for="q">
                    <span class="sr-only">Zoek op de website</span>
                </label>
                <span class="input-group-btn">
                    <button class="[ btn  btn-default ]" type="submit" title="Zoeken">
                        <svg class="shape shape--search">
                            <use xlink:href="#shape--search"/>
                        </svg>
                        <span class="sr-only">Zoeken</span></button>
                </span>
            </div>
        </form> -->
    </div>

</header>

<div id="container" class="clearfix">
