<div class="case-search-result-compact">
  <div class="case-status">
    <zs-case-status-icon data-status="vm.item().values['case.status']"
      archival-state="vm.item().values['case.archival_state']" data-destructable="vm.item().values['case.destructable']"
      data-updates="vm.item().values['case.num_unaccepted_files'] + vm.item().values['case.num_unaccepted_updates'] + vm.item().values['case.num_unread_communication']">
    </zs-case-status-icon>
  </div>
  <div class="case-info">
    <div class="case-label">
      <div class="case-title">
        {{::vm.item().values['case.number']}}: {{::vm.item().values['case.casetype.name']}}
      </div>
      <div class="case-days-left-wrap">
        <span class="case-days-left"
          ng-show="[ 'resolved', 'overdragen' ].indexOf(vm.item().values['case.status'])===-1"
          ng-class="{'urgentie_high': vm.item().values['case.days_left'] < 0, 'urgentie_low': vm.item().values['case.days_left'] >= 0 }">
          {{::vm.item().values['case.days_left']}}
        </span>
      </div>
    </div>
    <div class="case-description">
      <div class="case-subject" zs-truncate-length="100" ng-if="vm.item().values['case.subject']">
        {{::vm.item().values['case.subject']}}</div>
      <div class="case-requestor" ng-if="vm.item().values['case.requestor.name']">
        <zs-icon icon-type="account"></zs-icon>
        <span>{{::vm.item().values['case.requestor.name']}}</span>
      </div>
    </div>
  </div>
</div>