.accordion-item{
	list-style:none;
}

.accordion-item-header{
	background:#fff;
	list-style: none;
	border-bottom:1px solid #ccc;
	padding:1.25em .25em;
	font-size:1.1em;
	font-weight: 600;
	&:focus{
		outline:0;
	}
	&:before{
		font-family: FontAwesome;
		content: "\f0da";
		font-size:.8em;
		width:30px;
		display: inline-block;
		text-align: center;
	}
	&:hover{
		background:#f6f6f6;
	}
}

.accordion-item-open{
	.accordion-item-header:before{
		content: "\f0d7";
	}
	.accordion-item-header{
		border-bottom:none;
	}
}

.accordion-panel{
	padding:0;
	border-bottom:1px solid #ccc;
}