<div class="case-view">

  <ul class="case-message-list">

    <li class="case-message" ng-repeat="message in vm.getMessages() track by message.id" data-name="{{::message.name}}">
      <div class="case-message-text">
        <span class="case-message-label">{{::message.message}}.</span>
        <div class="case-message-action-list" ng-show="message.actions.length">
          <div class="case-message-action" ng-repeat="action in message.actions">
            <button type="button" class="case-message-action-button btn btn-flat" ng-click="action.click()">
              {{::action.label}}
            </button>
          </div>
        </div>
      </div>
      <button type="button" class="case-message-hide-button button-reset" ng-click="vm.hideMessage(message)">
        <zs-icon icon-type="close"></zs-icon>
      </button>
    </li>

  </ul>


  <div class="case-body" ng-class="{ loading: vm.isLoading() }">

    <!-- need a weird workaround to prevent animation on page load -->
    <div class="case-sidebar ng-hide" ng-class="{ collapsed: vm.isSidebarCollapsed() }" ng-show="true"
      role="complementary" aria-label="Zaak navigatie en informatie">

      <div class="case-sidebar-inner">

        <zs-case-navigation data-case="vm.getCase()" data-casetype="vm.getCasetype()" is-geojson-on="vm.isGeojsonOn()"
          is-collapsed="vm.isSidebarCollapsed()">
        </zs-case-navigation>

        <zs-case-summary data-case="vm.getCase()" data-casetype="vm.getCasetype()"
          can-change-confidentiality="vm.canEdit()&&!vm.isResolved()&&!!vm.getCoordinator()"
          on-confidentiality-change="vm.handleConfidentialityChange($confidentiality)"
          on-self-assign="vm.handleSelfAssign()" is-collapsed="vm.isSidebarCollapsed()" can-assign="vm.canSelfAssign()">
        </zs-case-summary>

      </div>

      <button type="button" ng-click="vm.handleSidebarToggleClick()" class="btn-floating btn-floating-small">
        <zs-icon icon-type="{{vm.isSidebarCollapsed() ? 'chevron-right' : 'chevron-left'}}"></zs-icon>
      </button>

    </div>

    <ui-view class="case-inner-view">
    </ui-view>

  </div>

</div>

<zs-spinner class="view-spinner" is-loading="vm.isLoading()">
</zs-spinner>