[%
    maanden = {
        '1'   => 'januari',
        '2'   => 'februari',
        '3'   => 'maart',
        '4'   => 'april',
        '5'   => 'mei',
        '6'   => 'juni',
        '7'   => 'juli',
        '8'   => 'augustus',
        '9'   => 'september',
        '10'  => 'oktober',
        '11'  => 'november',
        '12'  => 'december'
    };
%]
<form method="POST" action="[% c.uri_for('/zaak/' _ zaak.nr _ '/update/verlengen') %]" class="zvalidate">
<input type="hidden" name="update" value="1">
    <div class="dialog-inner">
        <div class="dialog-inner-block">
            <label>Reden wijzigen termijn</label>
            <input type="text" class="input_large" name="reden"/>
            <span class="validator"></span>
        </div>
        <div>
            <label>Selecteer nieuwe afhandeldatum</label>
            <input type="text" name="datum" value="[% veldoptie_value %]" class="veldoptie_datepicker" id="dp_[% veldoptie_name %]" />
            <span class="validator"></span>
        </div>
    </div>

    <div class="form-actions">
        <input type="submit" value="Opslaan" class="button button-primary" id="dialog-submit"/>
    </div>
    
</form>
