@import "../../../shared/styles/variables";

zs-object-suggest {
  display: block;
}

zs-object-suggest {
  width: 100%;
  color: #000;
}

.suggestion-input-container {
  display: flex;
  flex-flow: row nowrap;

  .suggestion-input {
    width: 100%;
    padding-left: 2.2rem;
  }
}

.suggestion-input-container,
.search-field {
  position: relative;
}

.btn.suggestion-advanced-search {
  display: flex;
  padding: 0 .75rem;
  margin-left: .6rem;
  line-height: 2.5rem;
  height: 2.5rem;
}

.suggestion-input-icon,
.search-field-icon {
  position: absolute;
  left: 10px;
  top: 0;
  display: flex;
  align-items: center;
  height: 100%;
  line-height: 100%;

  .mdi {
    font-size: 1.2rem;
    color: #999;
  }

  .spinner-google-container {
    position: absolute;
    left: -1px;
    background: #fff;
    top: 50%;
    margin-top: -10px;
  }
}

.search-field {
  margin-bottom: 10px;
}

.search-field input {
  text-indent: 28px;
}

.suggestion-list-container {
  box-shadow:#{$shadow};
  display: block;
  background-color: #fff;
  max-height: 300px;
  overflow: auto;
}

zs-suggestion-list {
  position: fixed;
  z-index: 1;
}

ul.suggestion-list {
  margin: 0 0 15px 0;
}

.suggestion-list-empty,
.suggestion {
  line-height: 1.5em;
  padding: 5px 10px;
}

.suggestion {
  width: 100%;
  text-align: left;
  @include button-reset();

  a {
    text-decoration: underline;
  }

  &:hover {
    cursor: pointer;
    background-color: #f6f6f6;
  }
}

.suggestion-list-item {
  line-height: 1.5em;
  font-size: .9em;
  color: #444;

  &.suggestion-list-item-highlighted {
    background-color: #eee;
  }
}

.suggestion-description {
  color: $grey;
  font-size: 1em;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.suggestion-display-item {
  background: rgba(0, 0, 0, 0.08);
  max-width: 500px;
  padding: 6px 7px;
  border-radius: $border-radius;
}

.suggestion-display-item-remove {
  @include button-reset();
  padding: 0;
}