// Generic template 

@use "sass:math";

@import "template-settings";

html,
body {
  height: 100%;
}

body {
  background: #{$body-bg};
  margin: 0px;
}

img {
  border: none;
}

h1 {
  font-size: $heading1-fontsize;
  color: $heading1-color;
  font-weight: $heading1-weight;
  text-transform: $heading-text-transform;
  font-family: $heading1-font-family;
}

h2 {
  font-size: $heading2-fontsize;
  color: $heading2-color;
  font-weight: $heading2-weight;
  font-family: $heading2-font-family;
  text-transform: $heading-text-transform;
}

#container {
  margin: $container-margin;
  background: $container-background;
  min-height: $container-min-height;
  border: $container-border;
  border-top: none;
  border-bottom: none;
  box-shadow: $container-shadow;
  position: relative;
  padding: $container-padding;
  border-radius: $container-border-radius;
}

#main {
  width: $content-width;
  margin: $content-margin;
  padding: $content-padding;
  box-sizing: border-box;
}

#logo {
  height: $logo-height;
  margin: $logo-wrapper-margin;
  width: $logo-wrapper-width;
  text-indent: $logo-text-indent;

  a {
    display: block;
    width: $logo-width;
    height: $logo-height;
    background-image:url(#{$logo-url});
    background-repeat: no-repeat;
    background-position: left center;
    background-size: $logo-bg-size;
  }

  img {
    visibility: hidden;
  }
}

header {
  height: $header-height;
  padding: $header-padding;
  @include box-sizing(border-box);
  background-color: $header-bg;
}

.webform_inner {
  position: static;
}

.webform .block-header .block-header-inner>div {
  line-height: $title-height;
}

.block-header {
  padding-top: $title-padding-top;
  padding-bottom: $title-padding-bottom;
  padding-left: $title-padding-left;
  padding-right: $title-padding-right;
  color: $title-text-color;
  height: $title-height;
  display: table;
  vertical-align: middle;
  table-layout: fixed;
  width: $title-width;
  background-color: $title-bg-color !important;
  background-image: $title-bg-image;
  background-repeat: $title-bg-repeat;
  background-position: $title-bg-position;
  font-family: $title-font-family;
  border-bottom: $title-border-bottom;
  border-radius: $title-border-radius;

  h1 {
    line-height: $title-height;
    margin: 0;
    font-size: $title-font-size !important;
    color: $title-text-color !important;
    font-weight: $title-font-weight;
  }
}

.block .block-header .header-actions {
  height: $title-height;
  line-height: $title-height;

  .button-secondary {
    border: none !important;
    background: none;
    color: $button-in-title-color;
    padding: 2px 10px;

    &:hover {
      color: $button-in-title-color-hover;
      background: $button-in-title-bg-hover;

      i {
        text-decoration: none;
      }

      span {
        text-decoration: $button-in-title-underline;
      }
    }

    i {
      color: $button-in-title-icon-color;
      margin-right: 4px;
      font-size: 1.4rem;
    }
  }
}

.block.succes>.block-header {
  line-height: $title-height;
  padding-top: $title-padding-top;
  padding-bottom: $title-padding-bottom;
  padding-right: 25px;
  padding-left: 25px;
  margin: 0;
  color: #fff;
}



.pip-nav {
  background-color: $pip-nav-background-color;
  background-image: $pip-nav-background-image;
  border-bottom: $pip-nav-border-weight solid $pip-nav-border-color;
  font-weight: $pip-nav-font-weight;
  font-size: $pip-nav-font-size;
  font-family: $pip-nav-font-family;

  ul li {

    &.current a,
    a:hover {
      text-decoration: none;
    }

    &.current a {
      color: $pip-nav-anchor-color-active;
      //border-bottom:$pip-nav-border-weight solid $pip-nav-border-color-active;
    }

    &.current a,
    &.current a:hover {
      background: $pip-nav-bg-active;
    }

    a {
      color: $pip-nav-anchor-color;
      padding: 1em;
      font-weight: $pip-nav-font-weight;

      &:hover {
        background: $pip-nav-bg-hover;
        color: $pip-nav-anchor-color-hover;
      }
    }
  }

  ul.right li a {
    @include opacity(.5);

    &:hover {
      @include opacity(1);
    }
  }
}

@if $template-type ==open {

  #main {
    padding: 0;
  }

  header .inner,
  .block-header-inner,
  .block-content,
  .pip-content,
  .pip-nav-menu {
    max-width: $template-type-open-width;
    margin: 0 auto !important;
  }

  .block-content,
  .pip-content {
    padding: $mobile-content-padding;
  }

  @media only screen and (min-width: $template-type-open-width + 40px) {

    .block-content,
    .pip-content {
      padding: $content-padding;
    }

  }


}

@if $template-basic ==true {

  #main {
    padding: 0;
  }

  .block-content,
  .pip-content {
    padding: $content-padding;
  }

}


@media only screen and (max-width: $breakpoint-mobile) {

  h1 {
    font-size:#{math.div($heading1-fontsize, 1.15)};
  }

  h2 {
    font-size:#{math.div($heading2-fontsize, 1.15)};
  }

  .stap-titel {
    font-size:#{math.div($h2-stap-titel-fontsize, 1.15)};
  }

  .block-header h1 {
    font-size:#{math.div($title-font-size, 1.15)} !important;
  }

}