@import "../partials/dependencies";

$template-type: open;

$primary-color: #db3845;
$secondary-color: #707070;
$tertiary-color: #DC241F;
$button-id-bg-color: #333;

$logo-url: "../../form/leerdam/img/logo.png";
$logo-width: 160px;
$logo-height: 96px;
$logo-margin: 0;
$header-height: 110px;
$header-padding: 10px 0 0;
$header-bg: $primary-color;

$button-primary-bg: $tertiary-color;
$button-primary-color: white;
$button-in-title-color: $tertiary-color;
$border-radius: 0;

$anchor-color: black;
$anchor-color-hover: $primary-color;
$anchor-text-decoration: underline;
$anchor-text-decoration-hover: none;
$font-family: Arial, Verdana, 'Sans Serif';
$font-size: 85%;
$template-width: 100%;

$container-border: none;

$pip-nav-background-color: transparent;
$pip-nav-border-color: $primary-color;
$pip-nav-border-color-active: $tertiary-color;
$pip-nav-anchor-color: rgba(255, 255, 255, .65);
$pip-nav-anchor-color-active: white;
$pip-nav-anchor-color-hover: white;
$pip-nav-bg-active: transparent;
$pip-nav-bg-hover: rgba(255, 255, 255, .1);
$pip-nav-font-size: 1em;
$toggle-pip-nav-color: #000;
$pip-nav-border-weight: 1px;

$pip-progress-bar-bg: lighten($primary-color, 30%);
$pip-progress-bar-percentages: $primary-color;

$pip-phase-title-bg: $secondary-color;

$title-text-color: $primary-color;
$title-bg-color: white;
$title-font-size: 1.6em;
$title-font-weight: bold;
$title-padding-top: 1.5em;
$title-padding-bottom: 1.75em;

$heading1-color: $primary-color;
$heading1-fontsize: 1.6em;
$heading1-weight: bold;

$heading2-color: $primary-color;
$heading2-fontsize: 1.4em;
$heading2-weight: normal;

$stap-active-anchor-font-weight: bold;
$stap-active-bg-color: $secondary-color;

$icon-question-sign-color: $secondary-color;

@import "template-normalize";
@import "basic-template";
@import "template-defaults";
@import "button-reset";
@import "template-media-queries";

header {
  width: 100%;
  max-width: 100%;

  .inner {
    max-width: 960px;
    margin: 0 auto;
  }
}

#main {
  padding: 0 0 20px;
}

.pip-nav {
  margin-top: -21px;
  margin-bottom: 20px;
  background: $primary-color;
  padding-top: 20px;
  font-weight: bold;

  ul li.current a {
    border-bottom: 2px solid $pip-nav-border-color-active;
    margin-bottom: -1px;
  }
}

.pip-case-form-phase-title {
  font-weight: normal;
}


@media only screen and (max-width: $breakpoint-mobile) {

  .pip-nav {
    margin-top: -13px;
    margin-left: -$mobile-content-padding;
    margin-right: -$mobile-content-padding;
    padding-top: 0;
  }

  #main {
    padding: 12px;
  }

}