@import "../partials/dependencies";

$template-basic: true;

$primary-color: #3F3A2F;
$anchor-color: #A82C25;
$anchor-color-hover: #4C4C3F;
$anchor-text-decoration: none;
$anchor-text-decoration-hover: none;
$font-size: 82.5%;
$font-family: 'helvetica neue', helvetica, arial, sans-serif;
$logo-url: "../../form/voerendaal/img/logo.png";
$button-id-bg-color: $anchor-color;
$button-primary-bg: $anchor-color;
$heading-weight: normal;
$heading-color: $anchor-color;
$heading1-fontsize: 230%;
$heading2-fontsize: 150%;
$heading1-color: $heading-color;
$heading2-color: $heading-color;
$heading1-weight: $heading-weight;
$heading2-weight: $heading-weight;
$header-height: 90px;
$title-height: 45px;
$title-padding-right: 20px;
$title-padding-left: 20px;
$border-radius: 0;
$pip-case-progress-bar-bg: #8bb400;
$header-padding: 18px 0 22px 0;
$logo-width: 460px;
$logo-height: 50px;

$pip-progress-bar-bg: #E0E9C4;
$pip-progress-bar-percentages: #8bb400;

@import "template-normalize";
@import "basic-template";
@import "template-defaults";
@import "button-reset";
@import "template-media-queries";

@media only screen and (max-width: $breakpoint-mobile) {
  #logo {
    width: auto;
  }

  #logo a {
    width: auto;
    background: url('../../form/voerendaal/img/logo-mobile.png') no-repeat left center;
  }
}