<ul class="case-navigation-list" role="navigation">
  <li class="case-navigation-list-item" ng-repeat="link in vm.getLinks() track by link.id" ng-class="link.style">

    <a ng-href="{{::link.url}}" class="case-navigation-link" data-name="{{::link.name}}" zs-tooltip="{{::link.label}}"
      zs-tooltip-options="{ attachment: 'left middle', target: 'right middle', offset: { x: 10, y: 0 } }" role="button">
      <zs-icon class="case-navigation-link-icon" icon-type="{{::link.icon}}"></zs-icon>
      <span class="has-unread-notifications small case-navigation-link-count" ng-show="link.counter>0"></span>
      <span class="case-navigation-link-label">{{::link.label}}</span>
    </a>

    <ul class="case-navigation-list-item-children" ng-show="link.children.length">

      <li class="case-navigation-list-item-child case-navigation-list-item"
        ng-repeat="child in link.children track by child.id" ng-class="child.style">

        <a ng-href="{{::child.url}}" class="case-navigation-link">
          <zs-icon class="case-navigation-link-icon" icon-type="{{::child.icon}}"></zs-icon>
          <span class="case-navigation-link-label">{{::child.label}}</span>
        </a>

      </li>

    </ul>

  </li>

</ul>