<form ng-submit="vm.handleSubmit()">

	<vorm-fieldset
		data-fields="vm.getFields()"
		data-valid="vm.getValidity()"
		data-values="vm.values()"
		on-change="vm.handleChange($name, $value)"
		model-options="{ debounce: { click: 0, default: 250 } }"
	>
	</vorm-fieldset>

	<div class="form-actions">
		<button 
			type="submit" 
			zs-disabled="vm.isDisabled()"
			class="btn btn-primary"
		>
			Voeg betrokkene toe
		</button>
	</div>
</form>
