<ul class="sidebar-item-list action-list">
  <li class="sidebar-item" action-type="{{::action.type}}" ng-repeat="action in $ctrl.getActions() track by action.id"
    ng-class="action.classes">
    <div class="sidebar-item-button" ng-click="$ctrl.handleActionClick(action, $event)">

      <div class="sidebar-item-toggle" zs-tooltip="Automatisch uitvoeren bij faseovergang"
        zs-tooltip-options="{ attachment: 'center bottom', target: 'center top', offset: { x: 0, y: -5 } }">
        <input type="checkbox" ng-disabled="action.disabled || action.uncheckmarkable" ng-checked="action.checked"
          ng-click="$ctrl.handleActionToggle(action, $event)" />
      </div>

      <div class="sidebar-item-label" zs-tooltip="{{::action.description}}"
        zs-tooltip-options="{ attachment: 'center bottom', target: 'center top', offset: { x: 0, y: -5 } }">
        <zs-icon class="sidebar-item-icon" icon-type="{{::action.icon}}" role="img"
          aria-label="{{::action.label}}"></zs-icon>
        <div class="sidebar-item-title">{{action.label}}</div>
      </div>

      <button class="sidebar-item-tainted" type="button"
        ng-click="!action.disabled && $ctrl.handleUntaintClick(action, $event)" zs-disabled="action.disabled"
        ng-show="action.tainted"
        zs-tooltip="Instellingen opgeslagen. Actie kan niet door regels worden beïnvloed. Klik om vrij te geven."
        zs-tooltip-options="{ attachment: 'center bottom', target: 'center top', offset: { x: 0, y: -5 } }">
        <zs-icon icon-type="lock"></zs-icon>
      </button>
    </div>
  </li>
  <li class="sidebar-item sidebar-item-empty actions-empty" ng-show="!$ctrl.getActions().length && !$ctrl.isLoading()">
    Er zijn geen acties voor deze fase.
  </li>

  <zs-spinner class="view-spinner" is-loading="$ctrl.isLoading()"></zs-spinner>
</ul>