[%
#    'urn:oasis:names:tc:SAML:2.0:status:AuthnFailed' = 'cancelled',
#    'urn:oasis:names:tc:SAML:2.0:status:NoAuthnContext' = 'context_insufficient',
#    'urn:oasis:names:tc:SAML:2.0:status:PartialLogout' = 'partial_logout',
#    'urn:oasis:names:tc:SAML:2.0:status:RequestDenied' = 'denied'

IF saml_error;
THEN;

    SWITCH saml_error;
        CASE 'urn:oasis:names:tc:SAML:2.0:status:AuthnFailed';
            error_message = 'U heeft het inloggen bij DigiD geannuleerd.';
        CASE;
            error_message = 'Inloggen bij deze organisatie is niet gelukt.'
                _ ' Probeert u het later nog een keer. Lukt het nog steeds'
                _ ' niet? Log in bij <a href="https://www.digid.nl/">Mijn DigiD</a>.'
                _ ' Zo controleert u of uw DigiD goed werkt.'
                _ ' Mogelijk is er een storing bij de organisatie waar u inlogt.';
    END; %]
<div class="saml_error">
    <span>[% error_message %]</span>
</div>
[% END; %]
