.top-bar {
  display: none !important;
}
.widget-search-filter-component {
  display: none;
}
.widget-search-result-header-wrapper {
  display: none;
}
.crud-wrapper {
  display: none;
}
#contextual-action-menu {
  display: none;
}
.widget-search-result {
  padding: 0;
}
#contentwrapper {
  margin-top: 0;
  margin: 0 !important;
  padding: 0 !important;
}
.ezra_map-viewport {
  height: 100vh !important;
}
.widget-search-result-display {
  padding: 0;
}
.widget-search-result {
  height: 100%;
}
