<div class="contact-instances-customer-config" data-ng-if="instancesView.isLoaded()&&!instancesView.hasCustomerConfig()">
    <div class="contact-instances-customer-config-intro">
        Om omgevingen voor deze organisatie te beheren, moet er eerst een keuze gemaakt worden wat voor type omgevingen bij deze organisatie horen.
    </div>
    <div class="contact-instances-customer-config-buttons">
        <button data-ng-click="instancesView.createCustomer('government')" data-ng-disabled="instancesView.isCreating()" class="button button-primary button-medium">
            Overheidscloud activeren
        </button>
        <br /><br />
        <button data-ng-click="instancesView.createCustomer('commercial')" data-ng-disabled="instancesView.isCreating()" class="button button-primary button-medium">
            Commerci&euml;le cloud activeren
        </button>
        <br /><br />
        <button data-ng-click="instancesView.createCustomer('lab')" data-ng-disabled="instancesView.isCreating()" class="button button-primary button-medium">
            Lab cloud activeren
        </button>
        <br /><br />
        <button data-ng-click="instancesView.createCustomer('development')" data-ng-disabled="instancesView.isCreating()" class="button button-primary button-medium">
            Development cloud activeren
        </button>
        <br /><br />
        <button data-ng-click="instancesView.createCustomer('staging')" data-ng-disabled="instancesView.isCreating()" class="button button-primary button-medium">
            Staging cloud activeren
        </button>
        <br /><br />
        <button data-ng-click="instancesView.createCustomer('acceptance')" data-ng-disabled="instancesView.isCreating()" class="button button-primary button-medium">
            Acceptatie cloud activeren
        </button>
        <br /><br />
        <button data-ng-click="instancesView.createCustomer('testing')" data-ng-disabled="instancesView.isCreating()" class="button button-primary button-medium">
            Test cloud activeren
        </button>
        <br /><br />
        <button data-ng-click="instancesView.createCustomer('preprod')" data-ng-disabled="instancesView.isCreating()" class="button button-primary button-medium">
            Preproduction cloud activeren
        </button>
        <br /><br />
        <button data-ng-click="instancesView.createCustomer('production')" data-ng-disabled="instancesView.isCreating()" class="button button-primary button-medium">
            Production cloud activeren
        </button>
    </div>
    <div data-zs-spinner="instancesView.isCreating()" class="zs-spinner-medium">
    </div>
</div>

<div data-zs-instances-crud data-zs-instances-crud-customer-id="[% betrokkene.betrokkene_identifier %]" data-ng-if="instancesView.hasCustomerConfig()">
</div>
