[%
    IF !c.model('DB::Config').get('contact_channel_enabled');
        RETURN;
    END;

    contactchannel_order = [
        'pip',
        'email',
        'mail',
        'phone',
    ];
    contactchannels = {
        'pip' => 'Persoonlijke internetpagina',
        'email' => 'E-mail',
        'mail' => 'Post',
        'phone' => 'Telefoon',
    };

    IF webform;
        class_label = 'large-5';
        class_select = 'large-7';
    ELSIF no_brp;
        class_label = 'large-3';
        class_select = 'large-6';
    ELSE;
        class_label = 'large-4';
        class_select = 'large-8';
    END;

%]

<div class="row">
    <div class="column [% class_label %]"><label for="channel-field">Voorkeurskanaal:</label></div>
    <div class="column [% class_select %]">
        <select id="channel-field" name="npc-preferred-contact-channel"
            class="infinite"
        >
            [% FOR channel IN contactchannel_order %]
            <option
                value="[% channel %]"
                [% IF betrokkene.preferred_contact_channel == channel %]selected[% END %]
                >[% contactchannels.$channel %]</option>
            [% END %]
        </select>
        <span class="validator"></span>
    </div>
</div>
