.tekstvelden-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.tekstvelden-table {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.tekstveld-wrapper {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.tekstveld-field {
  flex-grow: 1;
}

.tekstveld-remove {
  button {
    background: none;

    i {
      color: #bbb;

      &:hover {
        color: #000;
      }
    }
  }
}