
[% USE Scalar %]
[% USE Dumper %]

[% group_header_displayed = 0 %]


[% BLOCK group_header %]
    [% group_header_displayed = 1 %]
    <div class="kenmerk-groep">
        <div class="kenmerk-groep-titel">
            <h4 class="kenmerk-titel">[% kenmerk.label %]</h4>
            [% IF kenmerk.help %]
                <span class="kenmerk-beschrijving">[% kenmerk.help %]</span>
            [% END %]
        </div>
        <table class="fixed-layout kenmerk-groep-kenmerken data-table">
            [% IF pip %]
            <thead>
                <tr>
                    <th>Titel</th>
                    <th>Waarde</th>
                    <th class="align-right">[% IF !zaak.is_afgehandeld %]Wijzigen[% END %]</th>
                </tr>
            </thead>
            [% END %]
            <tbody>
[% END %]




[% BLOCK kenmerk_row %]
    [% bibliotheek_id = kenmerk.get_column('bibliotheek_kenmerken_id') %]
    [% kenmerkrow_table_classes = [] %]
    [% IF regels_result.active_fields.$bibliotheek_id; kenmerkrow_table_classes.push('regels_enabled_kenmerk'); END %]
    [% IF pip %]
        [% PENDING_JOB = 0 %]
        [% FOREACH job IN JOBQUEUE %]
            [% IF (job.job_id.opts.kenmerk_id == kenmerk.get_column('bibliotheek_kenmerken_id')) %]
                [% PENDING_JOB = 1 %]
            [% END %]
        [% END %]
        [% UNLESS PENDING_JOB; kenmerkrow_table_classes.push('ezra_pip_update_kenmerk'); END %]
    [% END %]



    [% document_value_zaak = zaak %]
    [% IF zaak.pid && kenmerk.referential %]
        [% IF kenmerk.type == 'file' %]
            [% document_value_zaak = zaak.pid %]
        [% ELSE %]
            [% bibliotheek_kenmerken_id = kenmerk.get_column('bibliotheek_kenmerken_id') %]
            [% referred_field_values = zaak.pid.scalar.field_values({
                bibliotheek_kenmerken_id => bibliotheek_kenmerken_id
            }) %]
            [% kenmerkvalue = referred_field_values.$bibliotheek_kenmerken_id %]
        [% END %]
    [% END %]

    [% IF kenmerk.type == 'file' %]
        [% kenmerkdocs = document_value_zaak.scalar.documents.documenten({zaaktype_kenmerken_id => kenmerk.id }); %]
        [% kenmerkdoc = kenmerkdocs.first %]
        [% kenmerkvalue = kenmerkdoc.filename %]
    [% END %]

    <tr class="[% kenmerkrow_table_classes.join(' ') %]">
        <td class="td200 ezra_show_dropdown" valign="top">
        [% kenmerkvalue_present = kenmerkvalue || (kenmerkvalue.size > 0 && kenmerkvalue.first) %]
            <div class="kenmerk-titel-wrap[% IF !pip && kenmerk.value_mandatory && !kenmerkvalue_present %] verplicht[% END %]">

            [% IF !pip && kenmerk.value_mandatory && !kenmerkvalue_present %]<i class="add-tooltip" title="Dit veld is verplicht"></i>[% END %]
            [% kenmerk.label || kenmerk.naam %]
            [% UNLESS pip %]
            
                <div class="dropdown-wrap dropdown-wrap-absolute">
                
                    <div class="dropdown-init ezra_dropdown_init dropdown-init-hide dropdown-init-block ezra_dropdown_init_hover">
                        <span></span>
                    </div>
                    
                    <div class="dropdown dropdown-left ezra_dropdown">
                        <strong>Kenmerk:</strong> [% kenmerk.naam %]
                    </div>
                    
                </div>
                
               
            [% END %]
            
            </div> 
            
        </td>
        <td class="tdvar">
            [% IF !kenmerk.is_group %]

                [% IF zaak.pid && kenmerk.referential %]
                    <div class="referred_field_value">                    
                    [% IF kenmerk.type == 'file' %]
                        [% kenmerkdocs = zaak.pid.scalar.documents.documenten({}); %]
                        [% kenmerkdoc = kenmerkdocs.first %]
                        [% kenmerkvalue = kenmerkdoc.filename %]
                        [% IF kenmerkvalue %]
                        <div class="fileuploadthumbnail  application_msword">[% kenmerkvalue %]</div>
                        [% ELSE %]
                            -
                        [% END %]
                    [% ELSE %]
                        [% PROCESS widgets/general/veldoptie_view.tt
                            veldoptie_type      = kenmerk.type
                            veldoptie_value     = kenmerkvalue
                            veldoptie_multiple       = kenmerk.bibliotheek_kenmerken_id.type_multiple
                            veldoptie_label_multiple = kenmerk.label_multiple
                        %]
                    [% END %]
                    </div>
                    
                [% ELSIF(regels_result.vul_waarde_in.$bibliotheek_id) %]
                    <input type="hidden" name="[% kenmerkkey %]" value="[% regels_result.vul_waarde_in.$bibliotheek_id.value | html %]"/>
                    <div class="regels_fixed_value">[% regels_result.vul_waarde_in.$bibliotheek_id.value %]</div>
                [% ELSIF c.can_change %]
    
                    [% PROCESS widgets/general/veldoptie.tt
                    veldoptie_name      = kenmerkkey
                    veldoptie_type      = kenmerk.type
                    veldoptie_opties    = kenmerk.options
                    veldoptie_value     = kenmerkvalue
                    veldoptie_multiple       = kenmerk.bibliotheek_kenmerken_id.type_multiple
                    veldoptie_label_multiple = kenmerk.label_multiple
                    %]
    
                [% ELSE %]
                    [% IF pip %]
                    <div class="ezra_pip_update_kenmerk-value_view">
                    [% END %]
                    [% PROCESS widgets/general/veldoptie_view.tt
                    veldoptie_multiple  = kenmerk.bibliotheek_kenmerken_id.type_multiple
                    veldoptie_type      = kenmerk.type
                    veldoptie_value     = kenmerkvalue
                    %]
                    [% IF pip %]
                    </div>
                    [% END %]
                [% END %]
            [% END %]
            [% IF pip && kenmerk.type != 'file' && kenmerk.pip_can_change %]
                [% UNLESS PENDING_JOB %]
                <form
                action="[% c.uri_for('/pip/zaak/' _ zaak.id _ '/update/kenmerk') %]"
                method="post">
                <div class="ezra_pip_update_kenmerk-input">
                    <input type="hidden" name="update" value="[% kenmerkkey %]" />
                    [% PROCESS widgets/general/veldoptie.tt
                    veldoptie_multiple  = kenmerk.bibliotheek_kenmerken_id.type_multiple
                    veldoptie_name      = kenmerkkey
                    veldoptie_type      = kenmerk.type
                    veldoptie_opties    = kenmerk.options
                    veldoptie_value     = kenmerkvalue
                    veldoptie_label_multiple = kenmerk.label_multiple
                    %]
                </div>
                </form>
                [% END %]
            [% END %]
        </td>
        [% IF pip %]
        <td class="td150">[% zaak.afgehandeld %]
            [% IF kenmerk.type != 'file' && kenmerk.type != 'googlemaps' && kenmerk.pip_can_change && !zaak.is_afgehandeld %]
                <div class="ezra_pip_update_kenmerk-update_button">
                    [% IF PENDING_JOB %]
                    <span class="icon-pending icon-text right">[% (PENDING_JOB ? 'In beoordeling' : '') %]</span>
                    [% ELSE %]
                    <a
                    href="/noscript" class="knop right knop-bootstrap">
                        <i class="icon icon-bewerk"></i> Wijzigen
                    </a>
                    [% END %]
                </div>
                [% UNLESS PENDING_JOB %]
                <div class="ezra_pip_update_kenmerk-opslaan_button">
                    <button class="knop right knop-bootstrap" name="opslaan"><i class="icon icon-opslaan"></i> Opslaan</button>
                </div>
                [% END %]
            [% END %]
        </td>
        [% ELSE %]
        <td class="td50">
            [% IF kenmerk.help %]
            <div class="dropdown-wrap dropdown-wrap-right">
                <div class="dropdown-init dropdown-init-in-td icon-toelichting icon icon-hover ezra_dropdown_init_hover"></div>
                <div class="dropdown dropdown-left dropdown-tooltip">
                    <div class="dropdown-pijl"></div>
                    <div class="dropdown-content">
                        [% kenmerk.help %]
                    </div>
                </div>
            </div>
            [% END %]
        </td>
        [% END %]
    </tr>    
[% END %]




[% kenmerken =
    zaak.zaaktype_node_id.zaaktype_kenmerken.scalar.search_fase_kenmerken(requested_fase);
%]
[% values    =
    zaak.scalar.field_values(fase => requested_fase.status)
%]
    <!--pre>[% USE Dumper %]values:[% #Dumper.dump(values) %]
    regels: [% #Dumper.dump(regels_result) %]</pre-->

[% rownumber = 0 %]
[% WHILE (kenmerk = kenmerken.next) %]

    [% kenmerkvalue = '' %]
    [% kenmerkkey = kenmerk.rtkey %]

    [% bibliotheek_id = kenmerk.get_column('bibliotheek_kenmerken_id') %]
    [% IF values.$bibliotheek_id.defined %]
        [%
            kenmerkvalue = values.$bibliotheek_id
        %]
    [% END %]

    [% NEXT IF (pip && ! kenmerk.pip && !kenmerk.is_group) %]
    [% rownumber = rownumber + 1 %]

    [% IF kenmerk.is_group %]
        [% # close previous group %]
        [% IF group_header_displayed %]
                </tbody>
            </table>
        </div>
        [% END %]
            
        [% PROCESS group_header %]    
        [% NEXT %]
    [% END %]

    [% # FALLBACK VOOR MISSEN GROUPEN %]
    
    [% IF rownumber == 1 && !kenmerk.is_group %]
        [% group_header_displayed = 1 %]
    <div>
        <table class="fixed-layout marginBottom">
            <tbody>
    [% END %]

    [% ### LIST OF ACTIVE JOBS IN JOBQUEUE %]
    [%
        JOBQUEUE = zaak.scalar.documenten.search_active_jobs(
            {
                'job_id.task'   => 'update_kenmerk'
            }
    ) %]

[% 
# Don't show if:
# - field is hidden by a rule
# - case has a parent, and the field is referential, and the field is invisible in the parent
# Move to model layer?
%]
    [% IF !regels_result.verberg_kenmerk.$bibliotheek_id 
        && !(zaak.pid && kenmerk.referential && !parent_visible_fields.$bibliotheek_id)
    %]
        [% INCLUDE kenmerk_row %]
    [% END %]

    [% IF regels_result.pauzeer_aanvraag.$bibliotheek_id %]                
    <tr>
        <td colspan="3" align="center">
            <div class="start_zaak_box">
                <div>[% regels_result.pauzeer_aanvraag.$bibliotheek_id.message %]</div>
                <div>
            [% IF regels_result.pauzeer_aanvraag.$bibliotheek_id.startzaak %]
                [% zaaktype_id = regels_result.pauzeer_aanvraag.$bibliotheek_id.zaaktype_id %]
                [% zaaktype_node = c.model('DB::Zaaktype').find(zaaktype_id).zaaktype_node_id %]
             <!--   Klik <a href="/zaak/start_nieuwe_zaak/[% zaaktype_node.id %]">hier</a> om een zaak te starten met het type <i>[% zaaktype_node.titel %]</i>.-->
            [% END %]
                </div>
            </div>
        </td>
    </tr>
    [% LAST %]
    [% END %]
[% END %]

[% IF rownumber %]
        </tbody>
    </table>
</div>
[% END %]



[% IF requested_fase && requested_fase.status == zaak.afhandel_fase.status %]
    [% PROCESS widgets/zaak/zaak_result.tt %]
[% END %]
